Package: com.github.airketchplayz.rainbowccswitches
Name: RainbowCCSwitches
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Rainbow CC switches
Maintainer: Yoshi Chill
Author: Yoshi Chill
Section: Tweaks
