<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>HBImageTableCell</string>
				<key>height</key>
				<integer>250</integer>
				<key>icon</key>
				<string>header.png</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Rainbow CC</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>tech.kodeycodesstuff.rainbowccprefs</string>
				<key>key</key>
				<string>isEnabled</string>
				<key>label</key>
				<string>Enabled</string>
				<key>PostNotification</key>
				<string>tech.kodeycodesstuff.rainbowccprefs/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>tech.kodeycodesstuff.rainbowccprefs</string>
				<key>key</key>
				<string>sliders</string>
				<key>label</key>
				<string>Rainbow Sliders</string>
				<key>PostNotification</key>
				<string>tech.kodeycodesstuff.rainbowccprefs/ReloadPrefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>action</key>
				<string>respring</string>
				<key>label</key>
				<string>Respring</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Credits</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>label</key>
				<string>Github</string>
				<key>subtitle</key>
				<string>Orginal Tweak By Yoshii</string>
				<key>icon</key>
				<string>github@2x.png</string>
				<key>url</key>
				<string>https://github.com/AirKetchPLAYZ/rainbowcctoggles</string>
				<key>action</key>
				<string>openGithub</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>@ThomasKodey</string>
				<key>user</key>
				<string>ThomasKodey</string>
				<key>action</key>
				<string>openTwitter</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>@JoshuaLausch</string>
				<key>user</key>
				<string>JoshuaLausch</string>
				<key>action</key>
				<string>openTwitter2</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Made By Yoshi Chill</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Ported to A12/A13 Devices + Settings and Graphics by Kodey Thomas</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>RainbowCC v2.0</string>
			</dict>
		</array>
		<key>title</key>
		<string>RainbowCC</string>
	</dict>
</plist>
