Package: com.github.airketchplayz.rainbowccswitches
Name: RainbowCCSwitches
Depends: mobilesubstrate, ws.hbang.common (>= 1.15)
Architecture: iphoneos-arm
Description: Rainbow CC switches
Maintainer: Kodey Thomas
Author: Yoshi Chill
Section: Tweaks
Version: 1.1-b
Installed-Size: 360
