<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>RainbowCCSwitches Settings Page</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.github.airketchplayz.rainbowccswitchesprefs</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Time to change colour</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.github.airketchplayz.rainbowccswitchesprefs</string>
			<key>key</key>
			<string>time</string>
			<key>max</key>
			<real>2</real>
			<key>min</key>
			<real>0</real> <!-- Enter your minimum value here -->
			<key>showValue</key> <!-- Show the value of the slider. true or false. -->
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply changes and respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>RainbowCCSwitchesPrefs</string>
</dict>
</plist>
